<div class="container">
  <app-nav-admin></app-nav-admin>
</div>
<div class="container mt-3">
  <ng-container *ngIf="orders$|async as listOrders; else failureOrLoading">
    <div class="card">
      <div class="card-header">Liste des commandes</div>
      <div class="card-body">
        <div *ngIf="searchFormGroup">
          <form [formGroup]="searchFormGroup" (ngSubmit)="searchOrder()">
            <div class="input-group">
              <label class="input-group-text">Keyword :</label>
              <input type="text" formControlName="keyword" class="form-control">
              <button class="btn btn-info">
                <i class="bi bi-search"></i>
              </button>
            </div>
          </form>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>MONTANT</th>
              <th>DATE</th>
              <th>UTILISATEUR</th>
              <th colspan="3">ACTIONS</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let o of listOrders.orderDTOS ">
              <td>{{o.idOrder}}</td>
              <td>{{o.amount}}</td>
              <td>{{o.date}}</td>
              <td>{{o.idUser}}</td>
              <td>
                <button class="btn btn-primary" (click)="detailOrder(o.idOrder)">
                  <i class="bi bi-person-fill"></i>
                </button>
              </td>
              <td>
                <button class="btn btn-secondary" (click)="updateOrder(o)">
                  <i class="bi bi-pencil-fill"></i>
                </button>
              </td>
              <td>
                <button class="btn btn-danger" (click)="deleteOrder(o)">
                  <i class="bi bi-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <ul class="nav nav-pills">
          <li *ngFor="let item of [].constructor(listOrders.totalPages); let p = index">
            <a [ngClass]="p==currentPage?'btn-info':'btn-outline-info'" (click)="gotoPage(p)" class="btn m-1">{{p}}</a>
          </li>
        </ul>
      </div>
    </div>
  </ng-container>
  <ng-template #failureOrLoading>
    <ng-container *ngIf="errorMessage; else loading">
      <div class="text-danger">
        {{errorMessage}}
      </div>
    </ng-container>
    <ng-template #loading>
      Loading..........
    </ng-template>
  </ng-template>
</div>