<div class="container">
  <app-nav-admin></app-nav-admin>
</div>
<div class="container mt-3">
  <ng-container *ngIf="category$|async as listCategory; else failureOrLoading">
    <div class="card">
      <div class="card-header">Liste des categories</div>
      <div class="card-body">
        <div *ngIf="searchFormGroup">
          <form [formGroup]="searchFormGroup" (ngSubmit)="searchCategory()">
            <div class="input-group">
              <label class="input-group-text">Keyword :</label>
              <input type="text" formControlName="keyword" class="form-control">
              <button class="btn btn-info">
                <i class="bi bi-search"></i>
              </button>
            </div>
          </form>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>NOM CATEGORIE</th>
              <th colspan="2">ACTIONS</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cat of category$| async ">
              <td>{{cat.idCategory}}</td>
              <td>{{cat.categoryName}}</td>
              <td>
                <button class="btn btn-secondary" (click) = "updateCategory(cat)">
                  <i class="bi bi-pencil-fill"></i>
                </button>
              </td>
              <td>
                <button class="btn btn-danger" (click) = "deleteCategory(cat)">
                  <i class="bi bi-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
  <ng-template #failureOrLoading>
    <ng-container *ngIf="errorMessage; else loading">
      <div class="text-danger">
        {{errorMessage}}
      </div>
    </ng-container>
    <ng-template #loading>
      Loading..........
    </ng-template>
  </ng-template>
</div>

