<div class="row mb-1 mr-0 custom-border">
  <div class="col-md-2 custom-border-right p-1 text-center mb-1 mt-1 ">
    <img src="assets/photoParDefaut.png" width="100px" height="100px">
  </div>

  <!--  Details article-->
  <div class="col-md-4 custom-border-right mb-1 mt-1 ">
    <div class="col">
      <div class="row">
        <div class="col-md-1"><i class="bi bi-info-circle blue-color"></i></div>
        <div class="col-md-10">Nom</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="bi bi-info-circle blue-color"></i></div>
        <div class="col-md-10">Prenom</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="bi bi-phone blue-color"></i></div>
        <div class="col-md-10">07 82 05 06 14</div>
      </div>
    </div>
  </div>

  <!--  details commande-->
  <div class="col-md-3 custom-border-right mb-1 mt-1 ">
    <div class="col">
      <div class="row">
        <div class="col-md-1"><i class="bi bi-qr-code blue-color"></i></div>
        <div class="col-md-10">Code</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="bi bi-calendar-check blue-color"></i></div>
        <div class="col-md-10">22-10-2022</div>
      </div>
      <div class="row">
        <div class="col-md-1"><i class="bi bi-cart blue-color"></i></div>
        <div class="col-md-10">En cours de preparation</div>
      </div>
    </div>
  </div>

  <!--  boutons action-->
  <div class="col-md-3 mb-1 mt-1 ">
    <div class="row">
      <div class="col-md-6 text-center">
        <button type="button" class="btn btn-link">
          <i class="bi bi-pencil blue-color"></i>&nbsp;
          Modifier
        </button>
      </div>
      <div class="col-md-6 text-center">
        <button type="button" class="btn btn-link">
          <i class="bi bi-trash blue-color"></i>&nbsp;
          Supprimer
        </button>
      </div>
    </div>
  </div>
</div>

