<div class="container mt-3">
  <div class="row">
    <div class="col col-md-6">
      <div class="card mb-3 m-1">
        <h3 class="card-header">{{ produit.productName}}</h3>
        <div class="card-body">
        
        <img style="height: 100%; width: 100%;" src="{{produit.image}}">

        </div>
      </div> 
    </div>

    <div class="col col-md-6">
      <div class="card">
        <div class="card-header">Description du produit</div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Description: {{ produit.description}}</li>
            <li class="list-group-item">Prix: {{ produit.price}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

